*{
    padding: 0;
    margin: 0;
    text-align: center;
}

.container{
    background: lightblue; 
    width: calc(100% - 10px);
    margin: 5px;
}

.section{
    margin-top: 4px;
    margin-bottom: 4px;
}

.listaContainer{
    overflow-y: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}

#listaDeRepositorios, #listaDeRepositorios>*{
    border: 0.01px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

@media (min-width: 320px) {
    html{
        font-size: 15px;
    }

    .container{
        height: 25rem;
    }
    
    .listaContainer{
        height: 20rem;
        font-size: 10px;
    }
    
}

@media (min-width: 768px) {
    html{
        font-size: 30px;
    }
 
    .container{
        height: 13.55rem;
    }

    .searchContainer{
        display: flex;  
        align-items: center;
        justify-content: center;
        margin-left: 40px;
    }
    
    .listaContainer{
        height: 10rem;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    html{
        font-size: 30px;
    }
 
    .container{
        height: 13.55rem;
    }

    .searchContainer{
        margin-left: 40px;
    }
}
