.section{
    text-align: center;
    
}
.contentbox{
    border: 0.5px black solid;
    background: paleturquoise;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.flex{
    display: flex;
}

@media (min-width: 320px) {
    html{
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    html{
        font-size: 55px;
    }
}

@media (min-width: 1024px) {
    html{
        font-size: 60px;
    }    
}